html, body{
    height: calc(100% - 20px);
    width: 100%;
    margin: 0; padding: 0;
}
body{
    border-bottom:40px solid grey;
    overflow: hidden;
}

.ball{
    border-radius: 50px;
    height: 79px;
    width: 79px;
    border: 1px solid rgb(5, 5, 5);
    background: orange;
    position: absolute;
    font-size: 11px;
    text-align: center;
}
span{
    user-select: none;  
}
.ball span{
    line-height: 80px;
}
.goal{
    border-top: 0;  border-bottom: 0;
    position: absolute;
    background: gold;
}
.goal:after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
    bottom: -30px;
}
.backboard{
    position: absolute;
    background: grey;
}
.rim{
    position: absolute;
    background: red;
}
.slingshot{
    background: brown;
    position: absolute;
    left: 200px;
    bottom: 0px;
    height: 200px;
    width: 10px;
}